@import "../../node_modules/normalize.css/normalize.css";

@import "./colors.scss";
@import "./shadows.scss";
@import "./typography.scss";
@import "./breakpoints.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div#__next {
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px;

  @media (min-width: 576px) {
    font-size: 87.5%;
  }

  @media (min-width: 576px) {
    font-size: 93.74%;
  }

  @media (min-width: 576px) {
    font-size: 100%;
  }
}

body {
  background: $gray200;
  font-family: "Poppins", sans-serif, Arial;
  -webkit-font-smoothing: antialiased;
}

input,
textarea,
button,
select,
a {
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.centralized-container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}
